body{
    font-family: "Courier New", Courier,monospace;
    /*font-family: "Lucida Console",Monaco,monospace;*/
    background-color: black;
    color: #fff509;
    font-size: 17px;
}
.hidden{
    display: none;
}

.visible{
    display: block;
}
button {
    font-family: "Courier New", Courier,monospace;
    font-size: 15px;
    background-color: black;
    color: #fff509;
    border-color: #fff509;
}
#navigasjon{
    padding-bottom: 2%;
}


ul {
    padding: 0;
    list-style: none;
}

li:nth-child(odd){
    background-color: #fff509;
    color:black;
}

li{

    padding: 0.5%;
}

#loading{
    font-size: 50px;
}
