body{
    font-family: "Courier New", Courier,monospace;
    /*font-family: "Lucida Console",Monaco,monospace;*/
    background-color: black;
    color: #fff509;
    font-size: 17px;
}
.hidden{
    display: none;
}

.visible{
    display: block;
}
button {
    font-family: "Courier New", Courier,monospace;
    font-size: 15px;
    background-color: black;
    color: #fff509;
    border-color: #fff509;
}
#navigasjon{
    padding-bottom: 2%;
}


ul {
    padding: 0;
    list-style: none;
}

li:nth-child(odd){
    background-color: #fff509;
    color:black;
}

li{
    padding: 0.5%;
}
input{
    background-color: #fff509;
    border: 0;
    font-size: 15px;
}

#loading{
    font-size: 50px;
}

#historical{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#historical div{
    padding: 1%;
    width: 20%;
    height: 100%;
}

h2{
    font-size: 18px;
    font-weight: normal;
    color: #02ff00;
}

@media only screen and (max-width: 1080px){
    #historical div{
        padding: 1%;
        width: 100%;
        height: 100%;
    }
}


